.bg-img{
    width:100%;
    height: 100vh;
    position: absolute;
    filter: brightness(0.2);
}
.container-fluid{
    width: 100%;
    position: relative;
}
.carousel-abulloh{
    width: 100%;
    height: 40vw;
}
.foo{
    width: 80%;
    margin: 0 auto;
}
.foo1{
    width: 100%;
    height: 39.8vw;
    filter: brightness(0.5);
}
.border-left{
    padding: 0 5px;
    border-left: 5px solid red;
}
.foo3{
    width: 110px;
    height: 90px;
}
.foo4{
    position: relative;
    color: white; 
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}
.foo5{
    font-size: 1rem;
    color: rgb(255, 196, 0);
}
.foo6{
    width: 50%;
    margin: 0 auto;
}